main{
    line-height: 160%;
    max-width: 100ch;
    margin-bottom: 0;
    margin-left: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
.navl{
    height: 50px;
    text-decoration: none;
    font-size: 1rem;

}
body{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.hide{
    display: none;
}
.show{
    display: block;
}
nav :hover{
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
}
footer{
    background-color: grey;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
}
nav{
    display: flex;
    flex-direction: none;
}
nav a{
    padding: 1rem;
}
@media screen and (max-width: 759px) {
    img {
        max-width: 100%;
        height: auto;
      }      
    nav{
        display: flex;
        flex-direction: column;
    }
}